* {
    margin: 0;
    padding: 0;
    border: 0;
    /* background-color:transparent #90A9B7; */
}

body {
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");

}

.Main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #6D8A96;
    align-items: center;
    height: 180px;
}

Nav {
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

a {
    justify-content: center;
    display: flex;
    flex-direction: row;
    color: black;
    font-size: 45px;
    text-decoration: none;
    /* background-color: #5D707F; */
    /* background-color: #90A9B7; */
    font-weight: bold;
    /* justify-content: space-between; */
    font-family: 'Courier New', Courier, monospace;
    border: solid 1px black;
    width: 300px;
}

.Hero {
    width: 100%;
    height: 55vh;
    background-image: url(money.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0px;
}

.content {
    color: #d6d6d6;
    width: fit-content;
    background-color: rgba(34, 95, 113, 0.46);
    padding: 2em;
    font-size: 5em;
    border-radius: 0.5em;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    /* color: #90A9B7; */
    font-size: 48px;
    padding: 2vw;
    font-weight: 900;
    background-color: #5D707F;
    border-radius: 15px;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* br {
    background-color: #90A9B7; */

.intro {
    background-color: #8797B2;
    /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25); */
    font-size: 2em;
    line-height: 1.5;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    margin-left: 13%;
    margin-right: 13%;
    justify-content: space-between;
    padding: 5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    margin-top: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

/* .intro p {
    margin-left: 13%;
    margin-right: 13%;
} */

/* .First {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 48px;
    background-color: #6D8A96;
    border-radius: 0.5em;
    width: fit-content;
    margin-left: 36.8%;
    margin-right: 35%;
} */


/* FIRST ROW OG ROW NOT SURE TO USE */
/* .row {
    margin-top: 1%;
    display: flex;
    margin-right: 25%;
    margin-left: 25%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
} */


.row {
    display: flex;
    margin-left: 13%;
    margin-right: 13%;
}
.column {
    margin-top: 3%;
    margin-bottom: 3%;
    flex: 50%;
    padding: 2vw;
    background-color: #8797B2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style-type: none;
}


table {
    border-collapse: collapse;
    width: 74%;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 13%;
    margin-right: 13%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td, th {
    border: 1px solid;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddd;
}

.column2 {
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #8797B2;
    margin-left: 13%;
    margin-right: 13%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.column2 p {
    font-size: larger;
}
/* .row2 {
    display: flex;
    margin-left: 13%;
} */

.column3 {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 13%;
    margin-right: 13%;
    background-color: #8797B2;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.column3 p {
    font-size: larger;
    text-align: center;
}


.empty {
    width: 300%;
    background-color: black;
}


h1 {
    font-size: 30px;
}
footer {
    background-color: #5D707F; 
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pad {
    padding: 5vw;
    display: flex;
    justify-content: space-between;
}

/* .Second {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 48px;
    background-color: #6D8A96;
    width: fit-content;
    margin-left: 41%;
    border-radius: 0.5em;
    margin-right: 36.8%;
} */
